<md-nav-list>
  <div class="logo-container">
    <h2>the division</h2>
  </div>
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/intel" routerLinkActive="active">Intel</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/media" routerLinkActive="active">Media</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/cast" routerLinkActive="active">Cast/Crew</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/info" routerLinkActive="active">Info</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/contact" routerLinkActive="active">Contact</a>
    </li>
  </ul>

  <ul class="social">
    <li class="social-item"><a href=""> <i class="fa fa-facebook"></i></a></li>
    <li class="social-item"><a href=""> <i class="fa fa-twitter-square"></i></a></li>
    <li class="social-item"><a href=""> <i class="fa fa-instagram"></i></a></li>
    <li class="social-item"><a href=""> <i class="fa fa-youtube-play"></i></a></li>
  </ul>
</md-nav-list>  



