// colors

$primary-orange: #FF7F00;
$primary-white: #F4FFFF;
$primary-black: #000000;
$secundary-red: #FF3000;
$secundary-green: #90C83C;
$secundary-teal: #47E6DC;


md-sidenav-layout{
	min-height: 100vh;
}

md-sidenav{
	border-top: 5px solid $primary-orange;
	background-color: $primary-black;
	min-width: 250px;
}

md-toolbar{
	position: fixed;
  top: 0;
  width: 100%;
  background-color: transparent;
  z-index: 10;
  h1 {
  	color: $primary-white;
		font-family: 'code_predators';
		&:hover, &:focus {
  		color: $primary-orange
  	}
  }
  a {
  	color: $primary-white;
  	text-decoration: none;
  	&:hover, &:focus {
  		color: $primary-orange
  	}
  }
}

md-sidenav {
	a {
  	color: $primary-white;
  	&:hover, &:focus {
  		color: $primary-orange
  	}
  }
}

.filler {
	flex: 1 1 auto;
}
