/* You can add global styles to this file, and also import other style files */

@import 'assets/vars';
@import 'assets/fonts';

body{
	margin: 0;
	padding: 0;
	font-family: 'borda';
	background-color: $primary-black;
	background: url('/assets/images/2016-11-01%20%282%29.png') no-repeat top center;
  background-size: cover;
}