/* You can add global styles to this file, and also import other style files */

@import '../node_modules/bootstrap/scss/bootstrap.scss';

// colors

$primary-orange: #FF7F00;
$primary-white: #F4FFFF;
$primary-black: #000000;
$secundary-red: #FF3000;
$secundary-green: #90C83C;
$secundary-teal: #47E6DC;


body{
	background-color: $primary-black;
}